/* You can add global styles to this file, and also import other style files */
:root {
  --color-primary: #ef5350;
  --color-secondary: #263238;
}

body,
html,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li,
button,
input,
select,
option,
textarea,
form,
label,
img,
div,
span,
section,
header,
footer,
nav,
main,
article,
aside,
figure,
figcaption,
table,
tbody,
thead,
tr,
td {
  margin: 0;
  padding: 0;
}
