.label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0 0;
  font-size: 1.25rem;

  strong {
    font-size: 1.35rem;
    color: var(--color-primary);
  }
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;

  &__btn {
    background-color: var(--color-primary);
    border: none;
    color: white;
    cursor: pointer;
    transition: all .3s ease-in-out;
    text-transform: capitalize;

    &:hover {
      background-color: var(--color-secondary);
    }
  }
}