.label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0 0;
  font-size: 1.25rem;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}