<app-header [title]="title" [subtitle]="subtitle"></app-header>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="label-container">
        <label class="label-container__title">Search a <strong>first generation</strong> pokemon: </label>
        <div class="input-container">
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Pokémon</span>
            <input type="text" [(ngModel)]="pokemonName" placeholder="Search a pokémon..." class="form-control">
            <button class="btn btn-outline-secondary input-container__btn" type="button"
              (click)="searchPokemon()">Search</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      @if (pokemon && !loading) {
      <app-card-poke [data]="pokemon"></app-card-poke>
      } @else if (loading) {
      <app-loader></app-loader>
      } @else { <app-fail-poke></app-fail-poke>
      }
    </div>
  </div>
</div>