.bg-purple {
  background-color: #8560b1;
  border-color: #8560b1;
}
.bg-purple:hover {
  background-color: #a174d7;
}

.bg-teal {
  background-color: #4d96a9;
  border-color: #4d96a9;
}
.bg-teal:hover {
  background-color: #5eb7cf;
}

.text-purple {
  color: #8560b1;
}

.text-teal {
  color: #4d96a9;
}

.vertical-divider {
  height: 70px;
  width: 50%;
  border-right: solid 1px #efefef;
}

.max-w-700 {
  max-width: 700px;
}

.footer-content {
  background-image: url("../img//desktop/image-footer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  top: -30px;
  z-index: -2;
}

.footer-transparent {
  position: absolute;
  background-color: rgba(77, 150, 169, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
